.container {
    padding: 2rem 9.5rem;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        grid-gap: 4rem;
    }

    .nav {
        justify-self: end;
        text-transform: uppercase;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 4rem;
    }

    .nav__item {
        display: inline-block;
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */